/**
 * Typography
 *
 */


/*=======================================================
 Table of Contents:
 –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  1.0 HEADLINES
  2.0 PARAGRAPHS
  =======================================================*/

/*==================================================================================
  1.0 Headlines
==================================================================================*/
h1 {
  font: 120px/132px $secondary-font;
  text-align: center;
}

h2{
  margin: 50px 0;
  font:  44px/48px $secondary-font;
}

/*==================================================================================
  2.0 Paragraphs
==================================================================================*/

p{
  font: 24px/36px $primary-font;
  @include mobile{
    font: 14px/24px $primary-font;
  }
}
