<!DOCTYPE html>
<html lang="en">
   <head>
      <title>HUGE NavExercise</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="/styles/main.css">
      <link href="/assets/images/favicon.ico" rel="icon">
   </head>
   <body>
      <div id="black-overlay"></div>
      <header id="site-header">
         <a class="header-logo" href="/"><img src="assets/images/HUGE-white.png" width="60"></a>
         <a class="burger-menu" href="#" role="button">
            <div class="burger"></div>
            <div class="cross"></div>
            <p class="hidden">Toggle Burger Menu</p>
         </a>
         <nav aria-label="Huge">
            <ul id="menu-bar" role="menubar" aria-label="Huge">
               <li><a class="primary-link" role="menuitem" aria-haspopup="false" aria-expanded="false" href="#" tabindex="0">Work</a></li>
               <li>
                  <a class="primary-link has-submenu" role="menuitem" aria-haspopup="true" aria-expanded="false" href="#" tabindex="-1">About</a>
                  <ul class="submenu" role="menu" aria-label="About">
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">What we do</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">How we work</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">Leadership</a></li>
                  </ul>
               </li>
               <li>
                  <a class="primary-link has-submenu" role="menuitem" aria-haspopup="true" aria-expanded="false" href="#" tabindex="-1">Careers</a>
                  <ul class="submenu" role="menu" aria-label="Careers">
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">Client Services</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">Creative</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">Motion Media</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">Operations</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">People</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">Strategy</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">Technology</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">UX Product Design</a></li>
                  </ul>
               </li>
               <li>
                  <a class="primary-link has-submenu" role="menuitem" aria-haspopup="true" aria-expanded="false" href="#" tabindex="-1">Ideas</a>
                  <ul class="submenu" role="menu" aria-label="Ideas">
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">Reports</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">Perspectives</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">Books</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">Videos</a></li>
                  </ul>
               </li>
               <li><a class="primary-link" role="menuitem" aria-haspopup="false" aria-expanded="false" href="#" tabindex="0">News</a></li>
               <li><a class="primary-link" role="menuitem" aria-haspopup="false" aria-expanded="false" href="#" tabindex="0">Events</a></li>
               <li>
                  <a class="primary-link has-submenu" role="menuitem" aria-haspopup="true" aria-expanded="false" href="#" tabindex="-1">Contact</a>
                  <ul class="submenu" role="menu" aria-label="Contact">
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">Atlanta</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">Brooklyn</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">DC</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">London</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">Los Angeles</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">Oakland</a></li>
                     <li role="none"><a class="secondary-link" role="menuitem" href="#" tabindex="-1">Toronto</a></li>
                  </ul>
               </li>
            </ul>
            <p class="copyright hidden-desktop">©2018 Huge. All Rights Reserved.</p>
         </nav>
      </header>
      <section class="header-image">
         <h1 class="hidden-mobile">Get paid for <br> giving a shit.</h1>
         <figure style="background-image: url('/assets/images/background-image.jpg'); ">
            <figcaption class="hidden">People working at an office</figcaption>
         </figure>
      </section>
      <main role="main">
         <h2 class="hidden-desktop">Get paid for <br> giving a shit.</h2>
         <p>Lipsum dolor sit amet, consectetur adipiscing elit. Proin nec congue odio. Phasellus nisi erat, posuere ac risus id, placerat tincidunt ante. Vestibulum facilisis, leo ut ultricies tincidunt, nibh libero blandit justo, non rhoncus magna ipsum eu risus. Integer efficitur, lectus in porttitor mollis, ante quam scelerisque nisi, vitae venenatis ante mi vel mauris. Maecenas sagittis lectus quis nisi euismod, at tincidunt elit commodo. Quisque eget mauris purus. Ut eget massa consequat, consequat sapien sit amet, consequat magna. Pellentesque erat justo, vehicula nec sapien in, mollis facilisis erat. Duis tincidunt, enim eget viverra sagittis, justo eros volutpat nisi, id scelerisque massa dolor nec mauris. Curabitur libero eros, suscipit ut turpis vel, vulputate volutpat lacus.</p>
      </main>
   </body>
   <script src="app.js"></script>
</html>
